body {
    scroll-behavior:smooth;
    background:lightgrey;
}
#nav {
    position:fixed;
    left:5%;
    top:18%;
}
#home {
    height:60em;
    background:blue;
}
#about {
    height:100em;
    background:brown;
}
#contact {
    height:50em;
    background:red;
}
#footer {
    height:12em;
    background:black;
}